<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">
	
<!-- 	<bean id="triangle" class="org.parison.cool.Triangle" autowire="byName"/>
 -->
	<bean name="PointA" class="org.parison.cool.Point">
		<qualifier value="circleRelated" />
		<property name="x" value="1"/>
		<property name="y" value="1"/>		
	</bean>

  	<bean name="pointB" class="org.parison.cool.Point">
		<property name="x" value="0"/>
		<property name="y" value="10"/>		
	</bean>

	<bean name="pointC" class="org.parison.cool.Point">
		<property name="x" value="21"/>
		<property name="y" value="22"/>
	</bean>

   <bean name="cercle" class="org.parison.cool.Circle">
    	<property name="radius" value="5" />    	
   </bean>
   		   
	<context:annotation-config />
</beans>