<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">
	
<!-- 	<bean id="triangle" class="org.parison.cool.Triangle" autowire="byName"/>
 -->
	<bean name="pointA" class="org.parison.cool.Point">
		<property name="x" value="${pointA.X}"/>
		<property name="y" value="${pointA.Y}"/>
	</bean>

  	<bean name="pointB" class="org.parison.cool.Point">
		<property name="x" value="${pointB.X}"/>
		<property name="y" value="${pointB.X}"/>
	</bean>

	<bean name="pointC" class="org.parison.cool.Point">
		<property name="x" value="21"/>
		<property name="y" value="22"/>
	</bean>

	<bean name="triangle" class="org.parison.cool.Triangle" />

	<context:annotation-config />

	<context:component-scan base-package="org.parison.cool" />

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
		<property name="locations" value="classpath:points.properties"/>
	</bean>
</beans>